body {
  width: 100%;
  height: 100%;
}
.card {
  margin-left: 2%;
}

.card-deck {
  margin-left: 2%;
}

.navbar-brand {
  font-size: 40px;
}
.btn-group-vertical,
.clearButtons {
  position: absolute;
  right: 320px;
}

main {
  background-color: rgb(219, 235, 243);
}
